.article {
  padding: 2.1875em 0em;
}

.article figure {
  margin-top: 1.75rem;
}

.article figure figcaption {
  margin-top: 0.875rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
}

.article img {
  -webkit-box-shadow: 0 0.125rem 0.125rem 0 rgba(50, 63, 75, 0.05);
          box-shadow: 0 0.125rem 0.125rem 0 rgba(50, 63, 75, 0.05);
  border-radius: 1.25rem;
  width: 100%;
  overflow: hidden;
}

.article h1 {
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.3;
  font-size: 1.65rem;
}

.article h2 {
  font-weight: 700;
  font-size: 1.4rem;
}

.article h2:not(:first-child) {
  margin-top: 2rem;
}

.article h3 {
  font-weight: 700;
  font-size: 1.2rem;
}

.article h3:not(:first-child) {
  margin-top: 2rem;
}

.article h4 {
  font-weight: 700;
  font-size: 1.125rem;
}

.article h4:not(:first-child) {
  margin-top: 2rem;
}

.article h5 {
  font-weight: 700;
  font-size: 1.075rem;
}

.article h5:not(:first-child) {
  margin-top: 2rem;
}

.article p {
  margin-top: 1rem;
  line-height: 150%;
  font-weight: 500;
}

.article p + p {
  margin-top: 1.5rem;
}

.article ul {
  font-weight: 500;
  line-height: 150%;
  max-width: 42.5rem;
}

.article ul + p {
  margin-top: 0;
}

.article ul li {
  position: relative;
  padding-left: 1.5em;
}

.article ul li:not(:last-child) {
  margin-bottom: 0;
}

.article ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0.5em;
  width: 0.35em;
  height: 0.35em;
  border-radius: 50%;
  background: currentColor;
}

.article ul:has(h3) {
  margin-top: 1.25rem;
}

.article ul:has(h3) li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
  padding-left: 0;
}

.article ul:has(h3) li::before {
  display: none;
}

.article ul:has(h3) li:not(:last-child) {
  margin-bottom: 1rem;
}

.article ul:has(h3) li h3 {
  position: relative;
  padding-left: 1.5em;
}

.article ul:has(h3) li h3::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0.5em;
  width: 0.35em;
  height: 0.35em;
  border-radius: 50%;
  background: currentColor;
}

.article a {
  color: #2f80ed;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.article__block {
  border-radius: 1.25rem;
  background: #fff;
  -webkit-box-shadow: 0 0.125rem 0.125rem 0 rgba(50, 63, 75, 0.05);
          box-shadow: 0 0.125rem 0.125rem 0 rgba(50, 63, 75, 0.05);
  padding: 1.25rem;
}

.article__block:not(:last-child) {
  margin-bottom: 1.5rem;
}

@media (min-width: 575.98px) {
  .article h1 {
    font-size: 1.75rem;
  }

  .article h2 {
    font-size: 1.5rem;
  }

  .article h3 {
    font-size: 1.25rem;
  }

  .article p {
    font-size: 1.125rem;
  }

  .article ul {
    font-size: 1.125rem;
  }
}

@media (any-hover: hover) {
  .article a:hover {
    text-decoration: none;
  }
}