.markdown-body {
  --base-size-4: 0.25rem;
  --base-size-8: 0.5rem;
  --base-size-16: 1rem;
  --base-size-24: 1.5rem;
  --base-size-40: 2.5rem;
  --base-text-weight-normal: 400;
  --base-text-weight-medium: 500;
  --base-text-weight-semibold: 600;
  --fontStack-monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  --fgColor-accent: Highlight;
  --focus-outlineColor: #0969da;
  --fgColor-default: #1f2328;
  --fgColor-muted: #59636e;
  --fgColor-accent: #0969da;
  --fgColor-success: #1a7f37;
  --fgColor-attention: #9a6700;
  --fgColor-danger: #d1242f;
  --fgColor-done: #8250df;
  --bgColor-default: #ffffff;
  --bgColor-muted: #f6f8fa;
  --bgColor-neutral-muted: #818b981f;
  --bgColor-attention-muted: #fff8c5;
  --borderColor-default: #d1d9e0;
  --borderColor-muted: #d1d9e0b3;
  --borderColor-neutral-muted: #d1d9e0b3;
  --borderColor-accent-emphasis: #0969da;
  --borderColor-success-emphasis: #1a7f37;
  --borderColor-attention-emphasis: #9a6700;
  --borderColor-danger-emphasis: #cf222e;
  --borderColor-done-emphasis: #8250df;
  --color-prettylights-syntax-comment: #59636e;
  --color-prettylights-syntax-constant: #0550ae;
  --color-prettylights-syntax-constant-other-reference-link: #0a3069;
  --color-prettylights-syntax-entity: #6639ba;
  --color-prettylights-syntax-storage-modifier-import: #1f2328;
  --color-prettylights-syntax-entity-tag: #0550ae;
  --color-prettylights-syntax-keyword: #cf222e;
  --color-prettylights-syntax-string: #0a3069;
  --color-prettylights-syntax-variable: #953800;
  --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
  --color-prettylights-syntax-brackethighlighter-angle: #59636e;
  --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
  --color-prettylights-syntax-invalid-illegal-bg: #82071e;
  --color-prettylights-syntax-carriage-return-text: #f6f8fa;
  --color-prettylights-syntax-carriage-return-bg: #cf222e;
  --color-prettylights-syntax-string-regexp: #116329;
  --color-prettylights-syntax-markup-list: #3b2300;
  --color-prettylights-syntax-markup-heading: #0550ae;
  --color-prettylights-syntax-markup-italic: #1f2328;
  --color-prettylights-syntax-markup-bold: #1f2328;
  --color-prettylights-syntax-markup-deleted-text: #82071e;
  --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
  --color-prettylights-syntax-markup-inserted-text: #116329;
  --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
  --color-prettylights-syntax-markup-changed-text: #953800;
  --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
  --color-prettylights-syntax-markup-ignored-text: #d1d9e0;
  --color-prettylights-syntax-markup-ignored-bg: #0550ae;
  --color-prettylights-syntax-meta-diff-range: #8250df;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #818b98;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown-body details,
.markdown-body figcaption,
.markdown-body figure {
  display: block;
}

.markdown-body summary {
  display: list-item;
  cursor: pointer;
}

.markdown-body summary h1,
.markdown-body summary h2,
.markdown-body summary h3,
.markdown-body summary h4,
.markdown-body summary h5,
.markdown-body summary h6 {
  display: inline-block;
  padding-bottom: 0;
  border-bottom: 0;
}

.markdown-body [hidden] {
  display: none !important;
}

.markdown-body a {
  background-color: transparent;
  color: var(--fgColor-accent);
  text-decoration: none;
}

.markdown-body a:hover {
  text-decoration: underline;
}

.markdown-body a:focus,
.markdown-body a[role=button]:focus,
.markdown-body a input[type=radio]:focus,
.markdown-body a input[type=checkbox]:focus {
  outline: 2px solid var(--focus-outlineColor);
  outline-offset: -2px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.markdown-body a:focus:not(:focus-visible) {
  outline: solid 1px transparent;
}

.markdown-body a:focus-visible {
  outline: 2px solid var(--focus-outlineColor);
  outline-offset: -2px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.markdown-body a:not([class]):focus,
.markdown-body a:not([class]):focus-visible {
  outline-offset: 0;
}

.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown-body b,
.markdown-body strong {
  font-weight: var(--base-text-weight-semibold, 600);
}

.markdown-body dfn {
  font-style: italic;
}

.markdown-body mark {
  background-color: var(--bgColor-attention-muted);
  color: var(--fgColor-default);
}

.markdown-body small {
  font-size: 90%;
}

.markdown-body sub,
.markdown-body sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.markdown-body sub {
  bottom: -0.25em;
}

.markdown-body sup {
  top: -0.5em;
}

.markdown-body img {
  border-style: none;
  max-width: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.markdown-body img[align=right] {
  padding-left: 20px;
}

.markdown-body img[align=left] {
  padding-right: 20px;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: var(--base-size-24);
  margin-bottom: var(--base-size-16);
  font-weight: var(--base-text-weight-semibold, 600);
  line-height: 1.25;
}

.markdown-body h1 {
  margin: 0.67em 0;
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid var(--borderColor-muted);
}

.markdown-body h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid var(--borderColor-muted);
}

.markdown-body h3 {
  font-size: 1.25em;
}

.markdown-body h4 {
  font-size: 1em;
}

.markdown-body h5 {
  font-size: 0.875em;
}

.markdown-body h6 {
  font-size: 0.85em;
  color: var(--fgColor-muted);
}

.markdown-body p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown-body blockquote {
  margin: 0;
  padding: 0 1em;
  color: var(--fgColor-muted);
  border-left: 0.25em solid var(--borderColor-default);
}

.markdown-body blockquote > :first-child {
  margin-top: 0;
}

.markdown-body blockquote > :last-child {
  margin-bottom: 0;
}

.markdown-body ul,
.markdown-body ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ul,
.markdown-body ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body li > p {
  margin-top: var(--base-size-16);
}

.markdown-body li + li {
  margin-top: 0.25em;
}

.markdown-body table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  font-variant: tabular-nums;
}

.markdown-body table th {
  font-weight: var(--base-text-weight-semibold, 600);
}

.markdown-body table th,
.markdown-body table td {
  padding: 6px 13px;
  border: 1px solid var(--borderColor-default);
}

.markdown-body table th > :last-child,
.markdown-body table td > :last-child {
  margin-bottom: 0;
}

.markdown-body table tr {
  background-color: var(--bgColor-default);
  border-top: 1px solid var(--borderColor-muted);
}

.markdown-body table tr:nth-child(2n) {
  background-color: var(--bgColor-muted);
}

.markdown-body table img {
  background-color: transparent;
}

.markdown-body code,
.markdown-body tt {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: var(--bgColor-neutral-muted);
  border-radius: 6px;
}

.markdown-body code br,
.markdown-body tt br {
  display: none;
}

.markdown-body pre {
  padding: var(--base-size-16);
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  color: var(--fgColor-default);
  background-color: var(--bgColor-muted);
  border-radius: 6px;
}

.markdown-body pre code,
.markdown-body pre tt {
  display: inline;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
}

.article {
  padding: 2.1875em 0em;
}

.article figure {
  margin-top: 1.75rem;
}

.article figure figcaption {
  margin-top: 0.875rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
}

.article figure img {
  margin-top: 0;
  -webkit-box-shadow: 0 0.125rem 0.125rem 0 rgba(50, 63, 75, 0.05);
          box-shadow: 0 0.125rem 0.125rem 0 rgba(50, 63, 75, 0.05);
  border-radius: 1.25rem;
  width: 100%;
  overflow: hidden;
}

.article > img {
  margin-top: 1.75rem;
  -webkit-box-shadow: 0 0.125rem 0.125rem 0 rgba(50, 63, 75, 0.05);
          box-shadow: 0 0.125rem 0.125rem 0 rgba(50, 63, 75, 0.05);
  border-radius: 1.25rem;
  width: 100%;
  overflow: hidden;
}

.article h1 {
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.3;
  font-size: 1.65rem;
}

.article h2 {
  font-weight: 700;
  font-size: 1.4rem;
}

.article h2:not(:first-child) {
  margin-top: 2rem;
}

.article h2 + ul {
  margin-top: 1rem;
}

.article h3 {
  font-weight: 700;
  font-size: 1.2rem;
}

.article h3:not(:first-child) {
  margin-top: 2rem;
}

.article h3 + ul {
  margin-top: 1rem;
}

.article h4 {
  font-weight: 700;
  font-size: 1.125rem;
}

.article h4:not(:first-child) {
  margin-top: 2rem;
}

.article h4 + ul {
  margin-top: 1rem;
}

.article h5 {
  font-weight: 700;
  font-size: 1.075rem;
}

.article h5:not(:first-child) {
  margin-top: 2rem;
}

.article p {
  margin-top: 1rem;
  line-height: 150%;
  font-weight: 500;
}

.article p + p {
  margin-top: 1.5rem;
}

.article ul {
  font-weight: 500;
  line-height: 150%;
  max-width: 42.5rem;
}

.article ul + p {
  margin-top: 0;
}

.article ul li {
  position: relative;
  padding-left: 1.5em;
}

.article ul li:not(:last-child) {
  margin-bottom: 0;
}

.article ul li::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 0.35em;
  height: 0.35em;
  border-radius: 50%;
  background: currentColor;
}

.article ul:has(h3) {
  margin-top: 1.25rem;
}

.article ul:has(h3) li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
  padding-left: 0;
}

.article ul:has(h3) li::before {
  display: none;
}

.article ul:has(h3) li:not(:last-child) {
  margin-bottom: 1rem;
}

.article ul:has(h3) li h3 {
  position: relative;
  padding-left: 1.5em;
}

.article ul:has(h3) li h3::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0.5em;
  width: 0.35em;
  height: 0.35em;
  border-radius: 50%;
  background: currentColor;
}

.article ul.default-list li::before {
  display: none;
}

.article ul.default-list li:not(:last-child) {
  margin-bottom: 0.75rem;
}

.article ul.default-list li h3 {
  padding-left: 0;
}

.article ul.default-list li h3::before {
  display: none;
}

.article ul.small-list {
  max-width: 36.75rem;
  padding-left: 0.75rem;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.article ul.blue-markers li::before {
  background: linear-gradient(135deg, #2f80ed 0%, #89bbff 48.08%, #2f80ed 100%);
}

.article ul.inline-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  max-width: 100%;
}

.article ul.inline-list li {
  max-width: 26.875rem;
}

.article ul.inline-list p {
  color: #5d6266;
  margin-top: 0;
}

.article ol {
  font-weight: 500;
  line-height: 150%;
  max-width: 42.5rem;
}

.article ol:not(:first-child) {
  margin-top: 2rem;
}

.article ol + p {
  margin-top: 0;
}

.article ol > li {
  counter-increment: num;
}

.article ol > li::before {
  content: counter(num) ".";
  margin-right: 0.25rem;
}

.article ol > li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.article ol:has(h3) {
  margin-top: 1.25rem;
}

.article ol:has(h3) > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
  padding-left: 0;
}

.article ol:has(h3) > li::before {
  display: none;
}

.article ol:has(h3) > li:not(:last-child) {
  margin-bottom: 1rem;
}

.article ol:has(h3) > li h3::before {
  content: counter(num) ".";
  margin-right: 0.25rem;
}

.article table {
  font-weight: 500;
  line-height: 150%;
  width: 100%;
  border-radius: 1.875rem;
  overflow: hidden;
  border: 0;
  text-align: left;
  border-radius: 0.625rem;
  position: relative;
}

.article table:not(:first-child) {
  margin-top: 2rem;
}

.article table::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.625rem;
  border: 1px solid #e3e3e3;
  pointer-events: none;
  z-index: 1;
}

.article table th {
  background: #f6f6f6;
  color: #666;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.62rem 0.75rem;
  text-align: left;
  position: relative;
  z-index: 2;
}

.article table th:first-child {
  border-radius: 0.625rem 0 0 0.625rem;
}

.article table th:last-child {
  border-radius: 0 0.625rem 0.625rem 0;
}

.article table tr:last-child td {
  border-bottom: 0;
}

.article table td {
  padding: 0.75rem;
  border-bottom: 1px solid #e3e3e3;
}

.article table td:not(:last-child) {
  border-right: 1px solid #e3e3e3;
}

.article a {
  color: #2f80ed;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.article .title-xl {
  font-size: 2.25rem;
}

.article__container:not(.container-sm) {
  max-width: 75rem;
}

.article__block-logo {
  display: none;
}

.article__row {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article__row ul {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 100%;
}

.article__block {
  border-radius: 1.25rem;
  background: #fff;
  -webkit-box-shadow: 0 0.125rem 0.125rem 0 rgba(50, 63, 75, 0.05);
          box-shadow: 0 0.125rem 0.125rem 0 rgba(50, 63, 75, 0.05);
  padding: 1.25rem;
  margin-right: -1rem;
  margin-left: -1rem;
  position: relative;
  z-index: 2;
}

.article__block:has(.autocomplete-block) {
  z-index: 3;
}

.article__block:not(:last-child) {
  margin-bottom: 1.5rem;
}

.article__block.blue {
  border-radius: 1.875rem;
  background: #2f80ed;
  color: #fff;
  margin-top: -5rem;
  padding-top: 4rem;
  position: relative;
  z-index: 1;
}

.article__form {
  margin-top: 2rem;
}

.article__form h2 {
  margin-bottom: 1rem;
}

.article__form .select::before {
  width: 1rem;
  height: 0.625rem;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_53_172)'%3E%3Cpath d='M7.29284 9.20711C7.68337 9.59761 8.31653 9.59761 8.70706 9.20711L15.071 2.84316C15.4615 2.45263 15.4615 1.81947 15.071 1.42894C14.6804 1.03842 14.0473 1.03842 13.6568 1.42894L7.99995 7.08581L2.3431 1.42894C1.95257 1.03842 1.31941 1.03842 0.928879 1.42894C0.538355 1.81947 0.538355 2.45263 0.928879 2.84316L7.29284 9.20711Z' fill='%23939393'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_53_172'%3E%3Crect width='16' height='9' fill='white' transform='translate(0 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.article__form .select select {
  border: 0.0625rem solid #f8f8f8;
  background: #f8f8f8;
  min-height: 3.25rem;
  font-size: 1.125rem;
}

.article__form-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article__form-line .input {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border-radius: 0.75rem;
  background: #f8f8f8;
  border: 0;
}

.article__form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.article__form-field .input {
  padding-right: 3.25rem;
  font-size: 1.125rem;
}

.article__form-unit {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1rem;
  pointer-events: none;
}

.article__form-submit {
  margin-top: 1.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article__form-row {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0.75rem;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.article__form-row .input {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  border-radius: 0.75rem;
  background: #f8f8f8;
  border: 0;
}

.article__form-row .option {
  width: 100%;
}

.article__form-row .option:not(:last-child) {
  margin-bottom: 0;
}

.article__form-row .option__btn {
  border-radius: 0.75rem;
  background: #f8f8f8;
  border: 0.0625rem solid #f8f8f8;
}

.article__form-row .article__form-column {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.article__form-row .article__form-column .article__form-row {
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.article__form-grid {
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  gap: 0.75rem;
  row-gap: 0.5rem;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.article__form-grid .input {
  border-radius: 0.75rem;
  background: #f8f8f8;
  border: 0.0625rem solid #f8f8f8;
}

.article__form-logo {
  margin-left: auto;
}

.article__form-separator {
  background: #d9d9d9;
  height: 0.0625rem;
  width: 100%;
  display: block;
  margin-top: 1.25rem;
}

.article__form-separator:not(:last-child) {
  margin-bottom: 1.25rem;
}

.article__result {
  margin-top: 2rem;
}

.article__result-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.article__result-subtitle {
  margin-top: 1rem;
  line-height: 100%;
  font-size: 1.25rem;
  font-weight: 600;
}

.article__result-hint {
  margin-top: 0.75rem;
  color: #939393;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 100%;
}

.article__result-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.article__result-text {
  padding-bottom: 1rem;
  font-weight: 600;
  line-height: 120%;
  font-size: 1rem;
}

.article__result-value {
  font-weight: 700;
  font-size: 2.75rem;
}

.article__result-req {
  font-weight: 600;
  line-height: 120%;
  font-size: 1rem;
  margin-top: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}

.article__result-req span {
  color: #666;
  font-size: 1.25rem;
}

.article__result-more {
  margin-top: 1.62rem;
  color: #2f80ed;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 100%;
  text-decoration: none !important;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 0.25rem;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.article__result-more::before {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.article__result-more.active::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.article__result-desc {
  margin-top: 1rem;
}

.article__result-desc ol {
  margin-top: 0 !important;
}

.article__result-desc ul {
  margin-left: 1.5rem;
}

.article__result-desc ul ul {
  margin-left: 0;
}

.article__result-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4.75rem;
          flex: 0 0 4.75rem;
}

.article__result-logo img {
  border-radius: 0;
}

.article__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.75rem;
}

.article__tag {
  border-radius: 1.875rem;
  background: #fff;
  color: #2f80ed;
  font-weight: 500;
  line-height: 100%;
  font-size: 1.125rem;
  padding: 1rem 0.8rem;
  text-align: center;
  text-decoration: none !important;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.article__grid {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  width: 100%;
  max-width: 100% !important;
}

.article__grid-item {
  position: relative;
  border-radius: 1.25rem;
  background: #f6f6f6;
  padding: 1rem;
}

.article__grid-item::before {
  display: none;
}

.article__grid-item:nth-child(1) .article__grid-caption::before {
  content: "0" counter(num);
}

.article__grid-item:nth-child(2) .article__grid-caption::before {
  content: "0" counter(num);
}

.article__grid-item:nth-child(3) .article__grid-caption::before {
  content: "0" counter(num);
}

.article__grid-item:nth-child(4) .article__grid-caption::before {
  content: "0" counter(num);
}

.article__grid-item:nth-child(5) .article__grid-caption::before {
  content: "0" counter(num);
}

.article__grid-item:nth-child(6) .article__grid-caption::before {
  content: "0" counter(num);
}

.article__grid-item:nth-child(7) .article__grid-caption::before {
  content: "0" counter(num);
}

.article__grid-item:nth-child(8) .article__grid-caption::before {
  content: "0" counter(num);
}

.article__grid-item:nth-child(9) .article__grid-caption::before {
  content: "0" counter(num);
}

.article__grid-caption {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.article__grid-caption::before {
  content: counter(num);
  margin-top: -1rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 0.75rem 0.625rem;
  background: #fff;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  -webkit-box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.05);
  color: #2f80ed;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 100%;
}

.article__grid-desc {
  margin-top: 0.75rem;
  color: #666;
  font-size: 1rem !important;
  font-weight: 600;
  line-height: 130%;
}

.article__calories {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article__calories-value {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 100%;
}

.article__calories-details {
  border-radius: 1.25rem;
  background: #f8f8f8;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}

.article__calories-caption {
  font-weight: 500;
  line-height: 100%;
  opacity: 0.67;
  font-size: 1.125rem;
}

.article__calories-row {
  margin-top: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article__calories-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.article__calories-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.article__calories-unit {
  line-height: 100%;
  opacity: 0.67;
  color: #323f4b;
  font-size: 1.125rem;
  font-weight: 600;
}

.article__calories-name {
  font-weight: 500;
  line-height: 100%;
  opacity: 0.67;
  margin-top: 0.38rem;
}

.article__visual {
  margin-top: 1.5rem;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
}

.article__ration {
  border-radius: 1.25rem;
  background: #f8f8f8;
  padding: 1.25rem;
}

.article__ration-title {
  color: #323f4b;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 100%;
}

.article__ration-list {
  margin-top: 1.25rem;
}

.article__ration-item {
  padding-left: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article__ration-item::before {
  display: none;
}

.article__ration-item:not(:last-child) {
  padding-bottom: 1rem;
  margin-bottom: 1rem !important;
  border-bottom: 0.0625rem solid #cfcfcf;
}

.article__ration-name {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 120%;
}

.article__ration-value {
  color: #939393;
  text-align: right;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 120%;
}

.article__ration-text {
  margin-top: 1.25rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 120%;
}

.article__diagram-list {
  margin-top: 2rem;
  padding: 0;
}

.article__diagram-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 100%;
  letter-spacing: 0.0125rem;
  padding-left: 0 !important;
  font-size: 1.125rem;
}

.article__diagram-row::before {
  display: none;
}

.article__diagram-row:not(:last-child) {
  margin-bottom: 0.75rem !important;
}

.article__diagram-name {
  font-weight: 500;
}

.article__diagram-value {
  text-align: right;
}

.article__downloads {
  margin-top: 1.5rem;
}

.article__downloads-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.75rem;
}

.article__downloads-item {
  width: 10rem;
  height: 3.375rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.article__tagline {
  font-weight: 800;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #2f80ed;
  font-size: 1.5rem;
  padding: 0.75rem 0;
}

.article__body {
  margin-top: 1.75rem;
}

.article__body .article-form {
  max-width: 55.875rem;
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

.article__body-tagline {
  font-weight: 500;
  display: block;
  font-size: 1rem;
  margin-top: 0.25rem;
}

.article__details {
  margin-top: 2rem;
  background: #f2f2f2;
  padding: 1.25rem;
  border-radius: 1.25rem;
}

.article__details-list {
  display: -ms-grid;
  display: grid;
  margin-top: 1rem;
  gap: 1rem;
  width: 100%;
  max-width: 100% !important;
}

.article__details-item {
  background: #ffffff;
  padding: 0.75rem;
  border-radius: 0.625rem;
}

.article__details-item::before {
  content: counter(num) !important;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 100%;
  text-transform: uppercase;
  color: #2f80ed;
}

.article__details-caption {
  margin-top: 1rem;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 140%;
}

.article__details-desc {
  margin-top: 0.5rem;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 120%;
}

.article__warning {
  margin-top: 3rem;
  background: #f2f2f2;
  border-radius: 1.25rem;
  padding: 1.25rem;
}

.article__warning-caption {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 120%;
  text-transform: uppercase;
  border-radius: 0.625rem;
  padding: 0.5rem 1.25rem;
  color: #2f80ed;
  background: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.article__warning-list {
  margin-top: 1.25rem;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  max-width: 100% !important;
}

.article__warning-item {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.75rem;
  padding-left: 0.75rem !important;
  border-radius: 0.625rem;
}

.article__warning-item::after {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  content: "";
  width: 2.25rem;
  height: 2.25rem;
  position: static;
  background: #2f80ed;
  border-radius: 50%;
}

.article__warning-item h3 {
  margin-top: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0 !important;
  text-transform: uppercase;
}

.article__warning-item h3::before {
  display: none;
}

.article__warning-item p {
  color: #5d6266;
  margin-top: 0;
}

.article__warning-item:not(:last-child) {
  margin-bottom: 0 !important;
}

.article-form {
  background: #f2f2f2;
  padding: 1.25rem 1rem;
  border-radius: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.article-form .article__result {
  margin-top: 1.5rem;
  border-top: 0.0625rem solid #d9d9d9;
  padding-top: 1.5rem;
}

.article-form .article__calories-details {
  background: #fff;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.article-form .input {
  border-color: #fff;
  min-height: 3.25rem;
  font-size: 1.125rem;
}

.article-form .input:focus {
  border-color: #2f80ed;
}

.article-form .select select {
  border-color: #fff;
  min-height: 3.25rem;
  font-size: 1.125rem;
}

.article-form .select select:focus {
  border-color: #2f80ed;
}

.article-form .select select.error {
  border-color: #eb555c;
}

.article-form__caption {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 120%;
}

.article-form__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.article-form__column {
  -ms-grid-column-span: 6;
  grid-column: span 6;
}

.article-form__result-caption {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 100%;
  color: #8f9397;
}

.article-form__result-value {
  margin-top: 0.25rem;
  font-weight: 600;
  font-size: 3.75rem;
  line-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0.75rem;
}

.article-form__result-value small {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 120%;
}

.article-form__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.autocomplete-block {
  position: relative;
  width: 100%;
  border: 0.0625rem solid #f8f8f8 !important;
  border-radius: 0.75rem;
}

.autocomplete-block.focused {
  border: 0.0625rem solid #2f80ed !important;
  border-radius: 0.75rem 0.75rem 0 0;
}

.autocomplete-block.focused .autocomplete-block__input {
  border-bottom-color: transparent !important;
  border-radius: 0.75rem 0.75rem 0 0;
}

.autocomplete-block.focused .autocomplete-block__list {
  display: block;
}

.autocomplete-block__input {
  width: 100%;
  font-size: 1.125rem;
  background: #f8f8f8;
  border: 0.0625rem solid #f8f8f8 !important;
}

.autocomplete-block__list {
  position: absolute;
  top: 100%;
  left: -1px;
  right: -1px;
  background: #f8f8f8;
  z-index: 2;
  padding: 1rem;
  border-radius: 0 0 0.75rem 0.75rem;
  border: 0.0625rem solid #2f80ed;
  display: none;
}

.autocomplete-block__list-body {
  max-height: 20rem;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.autocomplete-block__list-body::-webkit-scrollbar {
  width: 6px;
}

.autocomplete-block__list-body::-webkit-scrollbar-track {
  background: transparent;
}

.autocomplete-block__list-body::-webkit-scrollbar-thumb {
  background: #939393;
  border-radius: 6px;
}

.autocomplete-block__list-item {
  padding: 0;
  padding-left: 0 !important;
  width: 100%;
  cursor: pointer;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.autocomplete-block__list-item mark {
  background: transparent;
  color: #2f80ed;
}

.autocomplete-block__list-item::before {
  display: none;
}

.autocomplete-block__list-item.hidden {
  display: none;
}

.autocomplete-block__not-found.hidden {
  display: none;
}

.graph {
  position: relative;
  width: 320px;
  margin: 0 auto;
  height: 159px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.graph__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.graph__circle {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(52px, 52px);
      -ms-transform: translate(52px, 52px);
          transform: translate(52px, 52px);
}

.graph__circle span {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.graph__circle span b {
  font-weight: 500;
  display: block;
}

.graph__first span {
  top: 20.5%;
  left: 20%;
}

.graph__first-second {
  stroke-dasharray: 333;
  stroke-dashoffset: 0;
  stroke: #c82222;
}

.graph__second {
  top: -59px;
  left: -58px;
}

.graph__second span {
  top: 24%;
  left: 16.5%;
}

.graph__second-second {
  stroke-dasharray: 333;
  stroke-dashoffset: 0;
}

.graph__third {
  top: -123px;
  left: -120px;
}

.graph__third span {
  top: 25.5%;
  left: 15.5%;
}

.graph__third-second {
  stroke-dasharray: 333;
  stroke-dashoffset: 130;
}

.graph__foure {
  top: -188px;
  left: -182px;
}

.graph__foure span {
  top: 25.5%;
  left: 15.7%;
}

.graph__foure-second {
  stroke-dasharray: 333;
  stroke-dashoffset: 90;
}

@media (min-width: 575.98px) {
  .article h1 {
    font-size: 1.75rem;
  }

  .article h2 {
    font-size: 1.5rem;
  }

  .article h3 {
    font-size: 1.25rem;
  }

  .article p {
    font-size: 1.125rem;
  }

  .article ul {
    font-size: 1.125rem;
  }

  .article ol {
    font-size: 1.125rem;
  }

  .article__block {
    margin-left: 0;
    margin-right: 0;
  }

  .article__form-submit {
    margin-left: auto;
    margin-right: auto;
    max-width: 16.9375rem;
  }

  .article__result-content {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .article__result-value {
    font-size: 3.75rem;
  }

  .article__result-req {
    font-size: 1.25rem;
  }

  .article__result-more {
    font-size: 1.25rem;
  }

  .article__result-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 6.5rem;
            flex: 0 0 6.5rem;
  }

  .article__tags {
    margin-top: 1.25rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1rem;
  }

  .article__tag {
    padding: 1.25rem;
    font-size: 1.25rem;
  }

  .article__grid {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .article__grid-item:nth-child(odd):last-child {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .article__tagline {
    font-size: 2rem;
  }
}

@media (min-width: 767.98px) {
  .article ul.default-list li:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .article ul.small-list {
    margin-top: 1rem;
    font-size: 1rem;
    padding-left: 1.75rem;
  }

  .article table th {
    padding: 0.62rem 1.5rem;
  }

  .article table td {
    padding: 1rem 1.5rem;
  }

  .article__block-logo {
    display: block;
    float: right;
    width: 5.625rem;
    height: 5.625rem;
  }

  .article__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .article__row .article-form {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 22.5rem;
            flex: 0 0 22.5rem;
  }

  .article__form-line {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .article__form-row {
    gap: 1rem;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .article__form-grid {
    gap: 1rem;
  }

  .article__result-subtitle {
    font-weight: 700;
    font-size: 1.375rem;
  }

  .article__result-text {
    font-size: 1.25rem;
  }

  .article__calories {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .article__calories-details {
    margin-right: 0;
    max-width: 37.125rem;
    margin-left: auto;
  }

  .article__calories-caption {
    font-size: 1.25rem;
  }

  .article__calories-row {
    padding: 0 1.2rem;
  }

  .article__calories-unit {
    font-weight: 700;
    font-size: 1.5rem;
  }

  .article__calories-name {
    margin-top: 0.5rem;
    font-size: 1.25rem;
  }

  .article__visual {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .article__diagram-row {
    font-size: 1.25rem;
  }

  .article__diagram-row:not(:last-child) {
    margin-bottom: 1rem !important;
  }

  .article__downloads {
    margin-top: 2rem;
  }

  .article__downloads-items {
    margin-top: 1.25rem;
    gap: 0.75rem;
  }

  .article__body {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  .article__body-tagline {
    margin-top: 0;
    font-size: 1.25rem;
    display: inline-block;
    line-height: 140%;
    max-width: 31.25rem;
    vertical-align: top;
    padding-left: 2.5rem;
  }

  .article__details-list {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .article__warning-list {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .article-form .article__calories-details {
    margin-left: 0;
    margin-right: 0;
  }

  .article-form__column.small {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }

  .article-form__line {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .article-form__line .select {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .article-form__line .l-btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.9375rem;
            flex: 0 0 16.9375rem;
  }
}

@media (min-width: 991.98px) {
  .article__tagline {
    padding: 3rem 0.75rem 1.5rem;
    font-size: 2.5rem;
  }
}

@media (min-width: 1199.98px) {
  .article__form-line {
    -ms-grid-columns: calc(50% - 1rem) 1fr 1fr;
    grid-template-columns: calc(50% - 1rem) 1fr 1fr;
  }

  .article__form-line .l-btn {
    padding-inline: 2rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .graph {
    -webkit-transform: scale(1.25);
        -ms-transform: scale(1.25);
            transform: scale(1.25);
    -webkit-transform-origin: center 0;
        -ms-transform-origin: center 0;
            transform-origin: center 0;
    margin-bottom: 80px;
  }
}

@media (max-width: 767.98px) {
  .article__form-row .l-btn {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .article__form-row .article__form-logo {
    display: none;
  }

  .article__calories-header .article__calories-value {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 767px) {
  .graph__content {
    margin: 0 auto;
  }

  .graph__content::before {
    height: 170px;
    bottom: -100px;
  }
}

@media (max-width: 575.98px) {
  .article__form-grid .input {
    padding-inline: 0.75rem;
  }

  .article__form-grid-column {
    display: contents;
  }

  .article__form-grid-column .error-message {
    margin-top: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }
}

@media (any-hover: hover) {
  .article a:hover {
    text-decoration: none;
  }

  .article__result-more:hover {
    color: #1366d6;
  }

  .article__tag:hover {
    background-color: #2f80ed;
    color: #fff;
  }

  .autocomplete-block__list-body::-webkit-scrollbar-thumb:hover {
    background: #7a7a7a;
  }

  .autocomplete-block__list-item:hover {
    color: #2f80ed;
  }
}