.login {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  min-height: 100vh;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login__column {
  display: contents;
}

.login__logo {
  max-width: 14.625rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.login__logo img {
  width: 100%;
}

.login__subtitle {
  margin: 3rem 0em 0em 0em;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.625rem;
}

.login__btns {
  margin: 2.5rem 0em 0em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.75rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.login__btn {
  width: 10rem;
  height: 3.375rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.login__form {
  padding: 1.2em;
  background: #fff;
  -webkit-box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}

.login__form .l-btn {
  text-transform: uppercase;
}

.login__form-main {
  display: -ms-grid;
  display: grid;
  gap: 1.125rem;
  width: 100%;
}

.login__form-main .input {
  min-height: 2.875rem;
}

.login__form-field {
  position: relative;
}

.login__form-eye {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
  padding: 0.56rem;
  border-left: 0.0625rem solid #dee2e6;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  border-radius: 0rem 0.2rem 0.2rem 0rem;
}

.login__form-link {
  margin-top: 1rem;
  color: #0d6efd;
  text-align: center;
  font-weight: 700;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.login__form-bottom {
  margin: 1rem 0 0em;
  padding: 1rem 0 0em;
  border-top: 0.0625rem solid rgba(123, 135, 148, 0.25);
  width: 100%;
}

.login__form-bottom .l-btn-black {
  background: #323f4b;
}

.login__link {
  display: block;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 1.5rem auto 0;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: #323f4b;
  font-weight: 900;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

@media (min-width: 767.98px) {
  .login__columns {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2.5rem;
    -webkit-column-gap: 4.375rem;
       -moz-column-gap: 4.375rem;
            column-gap: 4.375rem;
  }

  .login__column {
    max-width: 29.375rem;
    display: block;
  }

  .login__logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .login__btns {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .login__form {
    max-width: 24.5625rem;
  }
}

@media (any-hover: hover) {
  .login__form-eye:hover {
    background-color: #dee2e6;
  }

  .login__form-link:hover {
    color: #0257d5;
  }

  .login__link:hover {
    color: #0d6efd;
  }
}