<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Auth</title>
	<style>@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');</style>
	<link type="text/css"  rel="stylesheet" href="css/bootstrap.min.css" />
	<link type="text/css"  rel="stylesheet" href="css/style.css" />
</head>
<body>
	<header></header>
	
	<section class="d-flex align-items-center --80vh py-5" id="main">
		<div id="auth_content" class="container --mw-1000">
			<div class="row align-items-center justify-content-between">
				<div class="col-md-6">
					<img src="img/logo.svg" class="logo" />
					<div class="h4 my-5 --medium_title">Eatvio - lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices orci mauris velit lacus, massa. At velit erat erat nisi.</div>
					<div class="mobile_app mb-5">
						<a href="#" class="me-4"><img src="img/pm.svg" class="logo" /></a>
						<a href="#"><img src="img/as.svg" class="logo" /></a>
					</div>
				</div>
				<div class="col-md-5">
					<div class="--popup_style --b_radius">
						<form class="form-signin">
							  <input type="email" id="inputEmail" class="form-control" placeholder="Электронный адрес или номер телефона" required="" autofocus="" />
							  <input type="password" id="inputPassword" class="form-control my-3" placeholder="Пароль" required="" />
							  <button class="mb-3 btn btn-lg btn-primary btn-block w-100 --f_bolder" type="submit">ВХОД</button>
							  <div class="text-center --f_bold"><a href="#">Забыли пароль?</a></div>
							  <hr/>
							  <div class="text-center px-3">
								<a href="#" class="mb-3 px-4 btn btn-lg btn-dark btn-block w-100 --f_bold text-uppercase">Создать новый аккаунт</a>
							  </div>
						</form>
					</div>
					<div class="text-center my-3">
						<a href="#" class="text-uppercase --f_bolder" style="color:var(--main_fcolor)">Я консультант</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<footer>
		<div class="container --mw-1000 py-5 --f_bold">
			<div class="d-flex align-items-center justify-content-between">
				<div>
					<a href="#" class="me-4 active">Русский</a>
					<a href="#">English</a>
				</div>
				<div style="color:var(--main_fcolor)">
					Eatvio © 2022
				</div>
			</div>
			<hr/>
			<ul class="--menu --footer">
				<li><a href="#">Конфиденциальность</a></li>
				<li><a href="#">Условия использования</a></li>
				<li><a href="#">Справка</a></li>
				<li><a href="#">Регистрация</a></li>
			</ul>
		</div>
	</footer>

</body>
</html>