<!DOCTYPE html>
<html lang="ru" lang="ru">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
	<title>Registration</title>
	<style>@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');</style>
	<link type="text/css" src="css/bootstrap.min.css" />
	<link type="text/css" src="css/style.css" />

</head>
<body>

	
<a href="auth.html">Авторизация</a><br/>
<a href="registration.html">Регистрация</a><br/>
<a href="myday.html">Дневник с комментариями заполненный</a><br/>
<a href="myday_edit.html">Дневник с комментариями EDIT - Тултип при сабмите формы ("ОТПРАВИТЬ")</a><br/>
<a href="myday2.html">Дневник без комментариев заполненный</a><br/>
<a href="createday.html">Заполнение дневника </a><br/>
<a href="createday_photo.html">Заполнение дневника  + фото</a><br/>
<a href="personal.html">Профиль пользователя</a><br/>
<a href="personala.html">Профиль пользователя +</a><br/>
<a href="consult.html">Профиль консультанта</a><br/>
<a href="posts.html">Посты</a><br/>
<a href="calendar.html">Календарь</a><br/>
<a href="chat.html">Чат</a><br/>
<a href="planview.html">страница с планом</a><br/>
<a href="add_diet.html">добавление диеты</a><br/>
<a href="add_plan.html">добавление плана</a><br/>
<a href="popular_diets.html">Популярные диеты</a><br/>
<a href="popular_plans.html">Популярные планы</a><br/>
<a href="consults_arch.html">Архив консультаций</a><br/>
<a href="consults.html">Консультации</a><br/>
<a href="balance.html">Баланс</a><br/>
<a href="consultants.html">Консультанты</a><br/>
<a href="recipes.html">Рецепты</a><br/>
<a href="add_recipe.html">Добавление в блог</a><br/>
<a href="popular_food.html">Популярные блюда</a><br/>
<a href="popular_articles.html">Популярные записи</a>

</body>
</html>