@use "sass:math";
@import "../config.scss";

.article {
	padding: em(35) em(0);
	& figure {
		& figcaption {
			margin-top: 0.875rem;
			font-size: 1.125rem;
			font-weight: 500;
			line-height: 150%;
		}
	}
	& img {
		margin-top: 1.75rem;
		box-shadow: 0 rem(2) rem(2) 0 rgba(50, 63, 75, 0.05);
		border-radius: 1.25rem;
		width: 100%;
		overflow: hidden;
	}
	& h1 {
		font-weight: 700;
		margin-bottom: 1rem;
		line-height: 1.3;
		font-size: 1.65rem;
		@media (min-width: $md5) {
			font-size: 1.75rem;
		}
	}
	& h2 {
		&:not(:first-child) {
			margin-top: 2rem;
		}
		font-weight: 700;
		font-size: 1.4rem;
		@media (min-width: $md5) {
			font-size: 1.5rem;
		}
	}
	& h3 {
		&:not(:first-child) {
			margin-top: 2rem;
		}
		font-weight: 700;
		font-size: 1.2rem;
		@media (min-width: $md5) {
			font-size: 1.25rem;
		}
		& + ul {
			margin-top: 1rem;
		}
	}
	& h4 {
		&:not(:first-child) {
			margin-top: 2rem;
		}
		font-weight: 700;
		font-size: 1.125rem;
		& + ul {
			margin-top: 1rem;
		}
	}
	& h5 {
		&:not(:first-child) {
			margin-top: 2rem;
		}
		font-weight: 700;
		font-size: 1.075rem;
	}
	& p {
		margin-top: 1rem;
		line-height: 150%;
		font-weight: 500;
		@media (min-width: $md5) {
			font-size: 1.125rem;
		}
		& + p {
			margin-top: 1.5rem;
		}
	}
	& ul {
		@media (min-width: $md5) {
			font-size: 1.125rem;
		}
		font-weight: 500;
		line-height: 150%;
		max-width: 42.5rem;
		& + p {
			margin-top: 0;
		}
		& li {
			position: relative;
			padding-left: 1.5em;
			&:not(:last-child) {
				margin-bottom: 0;
			}
			&::before {
				content: "";
				position: absolute;
				top: 0.5em;
				left: 0.5em;
				width: 0.35em;
				height: 0.35em;
				border-radius: 50%;
				background: currentColor;
			}
		}
		&:has(h3) {
			margin-top: 1.25rem;
			& li {
				display: flex;
				flex-direction: column;
				gap: 0.75rem;
				&::before {
					display: none;
				}
				padding-left: 0;
				&:not(:last-child) {
					margin-bottom: 1rem;
				}
				& h3 {
					position: relative;
					padding-left: 1.5em;
					&::before {
						content: "";
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: 0.5em;
						width: 0.35em;
						height: 0.35em;
						border-radius: 50%;
						background: currentColor;
					}
				}
			}
		}
	}
	& ol {
		&:not(:first-child) {
			margin-top: 2rem;
		}
		@media (min-width: $md5) {
			font-size: 1.125rem;
		}
		font-weight: 500;
		line-height: 150%;
		max-width: 42.5rem;
		& + p {
			margin-top: 0;
		}
		& li {
			counter-increment: num;
			&::before {
				content: counter(num) ".";
				margin-right: 0.25rem;
			}
			&:not(:last-child) {
				margin-bottom: 0.5rem;
			}
		}
		&:has(h3) {
			margin-top: 1.25rem;
			& li {
				display: flex;
				flex-direction: column;
				gap: 0.75rem;
				&::before {
					display: none;
				}
				padding-left: 0;
				&:not(:last-child) {
					margin-bottom: 1rem;
				}
				& h3 {
					&::before {
						content: counter(num) ".";
						margin-right: 0.25rem;
					}
				}
			}
		}
	}
	& table {
		&:not(:first-child) {
			margin-top: 2rem;
		}
		@media (min-width: $md5) {
			font-size: 1.125rem;
		}
		font-weight: 500;
		line-height: 150%;
		width: 100%;
		border-radius: 8px;
		overflow: hidden;
		text-align: center;

		th {
			background: #f0f2f5;
			font-size: 20px;
			font-weight: 500;
			padding: rem(16) rem(14);
		}

		& td {
			padding: rem(16) rem(14);
			border: 1px solid #f0f2f5;
		}
	}
	& a {
		color: #2f80ed;
		text-decoration-line: underline;
		text-decoration-style: solid;
		text-decoration-skip-ink: none;
		text-decoration-thickness: auto;
		text-underline-offset: auto;
		text-underline-position: from-font;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	// .article__container
	&__container {
	}
	// .article__block
	&__block {
		border-radius: 1.25rem;
		background: #fff;
		box-shadow: 0 rem(2) rem(2) 0 rgba(50, 63, 75, 0.05);
		padding: 1.25rem;
		&:not(:last-child) {
			margin-bottom: 1.5rem;
		}
	}
}
