@use "sass:math";
@import "../config.scss";

.consultant {
	position: relative;
	background: #fff;
	padding: em(16);
	border-radius: 0.5rem;
	display: flex;
	flex-wrap: wrap;
	gap: 0.62rem;
	&.consultant-grey {
		background: #f6f6f6;
		padding: em(12) em(16) em(12) em(12);
	}
	&:has(.consultant__plan) {
		display: flex;
		flex-wrap: wrap;
		@media (min-width: $md4) {
			flex-wrap: nowrap;
		}
		&:not(:last-child) {
			margin-bottom: rem(12);
		}
	}
	@media (min-width: $md5) {
		gap: 1rem;
		display: grid;
		grid-template-columns: 100px 1fr;
	}
	// .consultant__main
	&__main {
		display: contents;
		@media (min-width: $md5) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	// .consultant__thumb
	&__thumb {
		height: 3.75rem;
		min-width: 3.75rem;
		position: absolute;
		top: 1rem;
		left: 1rem;
		&.consultant__thumb-sm {
			min-width: rem(40);
			height: rem(40);
			@media (min-width: $md5) {
				min-width: rem(80);
				height: rem(80);
			}
		}
		@media (min-width: $md5) {
			position: static;
			top: auto;
			left: auto;
			height: 6.25rem;
			min-width: 6.25rem;
		}
		& img {
			border-radius: 50%;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .consultant__rate
	&__rate {
		display: flex;
		align-items: center;
		column-gap: rem(5);
		font-size: 0.875rem;
		padding-left: 4.5rem;
		margin-top: -0.5rem;
		&::before {
			color: #ffb100;
		}
		& span {
			font-size: 1.125rem;
			font-weight: 700;
			color: #ffb100;
			@media (min-width: $md5) {
				font-size: 1.25rem;
			}
		}
		@media (min-width: $md5) {
			padding-left: 0;
			margin-top: 0.25rem;
			margin-bottom: 0.75rem;
		}
	}
	// .consultant__comment
	&__comment {
		order: 1;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		flex: 0 0 calc(50% - 0.32rem);
		@media (min-width: $md5) {
			flex: 0 1 auto;
			width: 100%;
			margin-top: auto;
		}
	}
	// .consultant__body
	&__body {
		display: contents;
		@media (min-width: $md5) {
			display: block;
			flex: 1 1 auto;
		}
	}
	// .consultant__header
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		order: -1;
		flex: 0 0 100%;
		align-self: flex-start;
		padding-left: 4.5rem;
		@media (min-width: $md5) {
			padding-left: 0rem;
			order: 0;
			flex: 0 1 auto;
		}
	}
	// .consultant__name
	&__name {
		font-weight: 700;
		font-size: 1.125rem;
		transition: color 0.3s ease;
		&.consultant__name-sm {
			font-weight: 600;
			font-size: rem(18);
			@media (min-width: $md5) {
				font-size: rem(20);
			}
		}
		@media (min-width: $md5) {
			font-size: 1.5rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}

	// .consultant__favorite
	&__favorite {
		margin-top: -1rem;
		margin-right: -1rem;
		@media (min-width: $md5) {
			margin-top: -0.38rem;
			margin-right: -0.38rem;
		}
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #0d6efd;
			}
		}
		& path {
			stroke: currentColor;
		}
		&.active {
			color: #2f80ed;
			& path {
				fill: currentColor;
			}
		}
	}
	// .consultant__desc
	&__desc {
		font-size: 0.875rem;
		max-width: 24.625rem;
	}
	// .consultant__benefits
	&__benefits {
		margin-top: 0.5rem;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: rem(32);
		row-gap: 0.81rem;
	}
	// .consultant__benefit
	&__benefit {
		display: flex;
		align-items: center;
		font-size: 14px;
		font-weight: 700;
		column-gap: rem(5);
		align-items: center;
		&::before {
			order: 1;
			color: #019a3e;
		}
		& span {
			color: #2f80ed;
			font-size: 20px;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	// .consultant__certs
	&__certs {
		font-size: 14px;
		font-weight: 700;
		color: #2f80ed;
		text-decoration: underline;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	// .consultant__footer
	&__footer {
		display: contents;
		@media (min-width: $md5) {
			margin-top: 0.15rem;
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
		}
		.person__checklist {
			order: 1;
			display: flex;
			gap: rem(8);
			flex-wrap: wrap;

			margin: em(16) em(0) em(0) em(0);
			@media (min-width: $md5) {
				flex: 0 1 auto;
			}
			& img {
				max-width: 1.5rem;
			}
		}
	}
	// .consultant__footer-price
	&__footer-price {
		font-size: 1rem;
		padding: 0.5rem 1.5rem;
		background: #198754;
		color: #fff;
		border-radius: 0.5rem;
		font-weight: 700;
		min-width: rem(120);
		text-align: center;
		order: 1;
		flex: 0 0 calc(50% - 0.32rem);
		@media (min-width: $md5) {
			flex: 0 1 auto;
		}
		&.disabled {
			background: #a4a4a4;
		}
	}
	// .consultant__plan
	&__plan {
		flex: 0 0 100%;
		@media (min-width: $md4) {
			flex: 0 0 50%;
		}
		&.plans__item {
			box-shadow: none;
			padding: rem(6);
			flex-direction: column-reverse;
			gap: rem(6);
			border-radius: rem(5);
			@media (min-width: $md3) {
				gap: 0;
				flex-direction: row;
			}
			.plans__item-image {
				& img {
					border-radius: rem(4);
				}
				&::before {
					border-radius: rem(4);
					pointer-events: none;
				}
				margin-right: rem(8);
				@media (max-width: $md5) {
					margin: 0;
					height: 0;
					width: 0;
					display: contents;
					&::before {
						display: none;
					}
					& .plans__item-image-link {
						display: none;
					}
				}
				@media (min-width: $md3) {
					flex: 0 0 50%;
					min-height: 100%;
				}
				padding-bottom: 192px;
			}
			.plans__item-image-link {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				display: block;
				width: 100%;
				height: 100%;
			}
			@media (min-width: $md5) {
				.plans__item-info {
					width: fit-content;
				}
			}
			@media (max-width: $md5) {
				display: flex;
				flex-direction: column;
				.plans__item-info {
					position: static;
					order: 1;
				}
				.plans__item-stats {
					flex-direction: row;
					gap: rem(8);
				}
				.plans__item-stat {
					padding: rem(4) rem(12);
					font-weight: 500;
					font-size: rem(12);
					line-height: 100%;
					border-radius: rem(4);
					&:not(:last-child) {
						margin-bottom: 0;
					}
				}
				.plans__item-header {
					display: flex;
					justify-content: space-between;
					align-items: center;
				}
				.plans__item-favorite {
					display: none;
				}
				.plans__item-desc {
					display: none;
				}
				.plans__item-complete {
					display: none;
				}
			}
			.plans__item-body {
				padding: rem(6);
			}
		}
		@media (min-width: $md4) {
			.plans__item-header {
				flex-wrap: nowrap;
			}
		}
		&:has(.consultant__plan-empty) {
			@media (max-width: $md5) {
				display: none;
			}
		}
	}
	// .consultant__plan-empty
	&__plan-empty {
		background: #ffffff;
		border-radius: rem(5);
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 1rem;
		font-weight: 500;
		font-size: 16px;
		line-height: 100%;
		color: #6d6f71;
		padding: rem(20);
		position: relative;
		& img {
			max-width: rem(140);
			width: 100%;
		}
		.plans__item-favorite {
			position: absolute;
			top: 0.75rem;
			right: 0.75rem;
		}
	}
	// .consultant__order
	&__order {
		position: relative;
		border-radius: rem(4);
		padding: rem(7) rem(6);
		background: #fff;
		align-self: flex-start;
		color: #2f80ed;
		font-weight: 600;
		line-height: 100%;
		letter-spacing: 0.2px;
		text-align: center;
		order: -1;
		font-size: rem(20);
		@media (min-width: $md4) {
			font-size: rem(24);
		}
	}
	// .consultant__order-icon
	&__order-icon {
		position: absolute;
		top: -0.5rem;
		right: -0.5rem;
		width: 1.5rem;
		height: 1.5rem;
		transform: rotate(20deg);
	}
	// .person__achives
	&__achives {
		@media (min-width: $md5) {
			margin-top: 1rem;
		}
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: rem(12);
	}
	// .person__achive
	&__achive {
		width: rem(28);
		display: block;
		height: rem(28);
		@media (min-width: $md5) {
			width: rem(40);
			height: rem(40);
		}
	}
	// .person__achive-more
	&__achive-more {
		font-weight: 700;
		line-height: 100%;
		color: #2f80ed;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		width: rem(28);
		height: rem(28);
		font-size: rem(12);
		@media (min-width: $md5) {
			font-size: rem(14);
			width: rem(40);
			height: rem(40);
		}
	}
	// .consultant__column
	&__column {
		display: flex;
		flex-direction: column;
		gap: rem(12);
		@media (min-width: $md5) {
			flex: 1 1 auto;
			display: grid;
			grid-template-columns: min-content rem(80) auto;
			align-self: flex-start;
			.consultant__body {
				grid-column: 3/4;
			}
		}
		.consultant__thumb {
			position: static;
			top: auto;
			left: auto;
		}
		.consultant__desc {
			max-width: 100%;
		}
	}
	// .consultant__heading
	&__heading {
		display: flex;
		align-items: flex-start;
		gap: rem(8);
		@media (min-width: $md5) {
			display: contents;
		}
		.consultant__favorite {
			margin-left: auto;
			font-size: rem(20);
			margin-top: 0;
			margin-right: 0;
			@media (min-width: $md5) {
				display: none;
			}
		}
	}
	// .consultant__person
	&__person {
		align-self: center;
	}
	&__person-info {
		margin-top: rem(2);
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		flex-wrap: wrap;
		gap: rem(4);
		@media (min-width: $md5) {
			justify-content: flex-start;
			flex-direction: column;
		}
	}
	// .consultant__rating
	&__rating {
		font-weight: 500;
		line-height: 100%;
		color: #2f80ed;
		font-size: rem(12);
		@media (min-width: $md5) {
			font-size: rem(18);
		}
	}
	// .consultant__location
	&__location {
		font-weight: 500;
		line-height: 100%;
		color: #6d6f71;
		font-size: rem(12);
		@media (min-width: $md5) {
			font-size: 1rem;
		}
	}
	// .consultant__btn
	&__btn {
		margin-top: rem(20);
		&.l-btn {
			color: #323f4b;
			border-width: 1px;
			&.l-btn-md {
				padding-inline: rem(57);
				padding-block: rem(8);
			}
		}
	}
	// .consultant__actions
	&__actions {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		width: 100%;
		gap: rem(8);
	}
	// .consultant__action
	&__action {
		&:first-child:last-child {
			grid-column: span 2;
		}
		&.l-btn {
			color: #323f4b;
			width: 100%;
			border-width: 1px;
			&.l-btn-md {
				padding-inline: rem(15);
				padding-block: rem(8);
			}
		}
	}
}
