@use "sass:math";
@import "../config.scss";

.login {
	padding-top: rem(100);
	padding-bottom: rem(100);
	min-height: 100vh;
	display: flex;
	// .login__container
	&__container {
	}
	// .login__columns
	&__columns {
		display: flex;
		justify-content: space-between;
		gap: rem(20);
		flex-direction: column;
		@media (min-width: $md4) {
			align-items: center;
			flex-direction: row;
			gap: rem(40);
			column-gap: rem(70);
		}
	}
	// .login__column
	&__column {
		display: contents;
		@media (min-width: $md4) {
			max-width: rem(470);
			display: block;
		}
	}
	// .login__logo
	&__logo {
		max-width: rem(234);
		& img {
			width: 100%;
		}
	}
	// .login__subtitle
	&__subtitle {
		margin: rem(48) em(0) em(0) em(0);
		font-weight: 700;
		font-size: rem(24);
		line-height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: rem(10);
	}
	// .login__btns
	&__btns {
		margin: rem(40) em(0) em(0) em(0);
		display: flex;
		justify-content: flex-start;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: rem(12);
		order: 1;
		@media (min-width: $md4) {
			justify-content: flex-start;
		}
	}
	// .login__btn
	&__btn {
		width: rem(160);
		height: rem(54);
		flex-shrink: 0;
	}
	// .login__form
	&__form {
		padding: 1.2em;
		background: #fff;
		box-shadow: 0 rem(5) rem(10) 0 rgba(0, 0, 0, 0.25);
		border-radius: rem(8);
		display: flex;
		flex-direction: column;
		align-items: center;
		.l-btn {
			text-transform: uppercase;
		}
		@media (min-width: $md4) {
			max-width: rem(393);
		}
	}
	// .login__form-main
	&__form-main {
		display: grid;
		gap: rem(18);
		width: 100%;
		.input {
			min-height: rem(46);
		}
	}
	// .login__form-field
	&__form-field {
		position: relative;
	}
	// .login__form-eye
	&__form-eye {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		cursor: pointer;
		padding: 0.56rem;
		border-left: rem(1) solid #dee2e6;
		transition: background-color 0.3s ease 0s;
		border-radius: 0rem 0.2rem 0.2rem 0rem;
		@media (any-hover: hover) {
			&:hover {
				background-color: #dee2e6;
			}
		}
	}
	// .login__form-link
	&__form-link {
		margin-top: rem(16);
		color: #0d6efd;
		text-align: center;
		font-weight: 700;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: darken($color: #0d6efd, $amount: 10);
			}
		}
	}
	// .login__form-bottom
	&__form-bottom {
		margin: rem(16) 0 em(0);
		padding: rem(16) 0 em(0);
		border-top: rem(1) solid rgba($color: #7b8794, $alpha: 0.25);
		width: 100%;
		.l-btn-black {
			background: #323f4b;
		}
	}
	// .login__link
	&__link {
		display: block;
		max-width: fit-content;
		margin: rem(24) auto 0;
		text-align: center;
		font-weight: 700;
		text-transform: uppercase;
		color: #323f4b;
		font-weight: 900;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #0d6efd;
			}
		}
	}
}
