@use "sass:math";
@import "../config.scss";

.plans {
	padding: em(0) 0 rem(20);
	// .plans__container
	&__container {
	}
	// .plans__title
	&__title {
	}
	// .plans__items
	&__items {
		margin: 1rem em(0) em(0) em(0);
		.plans__item {
			&:not(:last-child) {
				margin-bottom: rem(24);
			}
		}
	}
	// .plans__item
	&__item {
		background: #fff;
		padding: em(16);

		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
		border-radius: 8px;
		@media (min-width: $md5) {
			display: flex;
		}
	}
	// .plans__item-image
	&__item-image {
		position: relative;
		height: 0;
		padding-bottom: 100%;
		margin: em(-16) em(-16) em(20) em(-16);
		@media (min-width: $md5) {
			flex: 0 0 240px;
			padding-bottom: 240px;
			margin: em(0) rem(16) em(0) em(0);
		}
		@media (min-width: $md4) {
			flex: 0 0 343px;
		}
		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 0.75rem 0.75rem 0rem 0rem;
			@media (min-width: $md5) {
				border-radius: rem(10);
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba($color: #000, $alpha: 0.2);
			z-index: 1;
			border-radius: 0.75rem 0.75rem 0rem 0rem;
			@media (min-width: $md5) {
				border-radius: rem(10);
			}
		}
	}
	// .plans__item-info
	&__item-info {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding: em(0) em(15) em(10) em(0);
		color: #fff;
		z-index: 2;
	}
	// .plans__item-stats
	&__item-stats {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	// .plans__item-stat
	&__item-stat {
		background: #2f80ed;
		color: #fff;
		font-size: 1rem;
		font-weight: 600;
		border-radius: 0rem 0.5rem 0.5rem 0rem;
		padding: rem(4) 0.88rem;
		&:not(:last-child) {
			margin-bottom: 0.5rem;
		}
		&:nth-child(even) {
			background: #019a3e;
		}
	}
	// .plans__item-views
	&__item-views {
		display: flex;
		column-gap: 10px;
	}
	// .plans__item-view
	&__item-view {
		display: flex;
		column-gap: 5px;
	}
	// .plans__item-content
	&__item-content {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 1rem;
		.diet__info {
			padding: 0.75rem;
			.diet__info-row {
				font-size: 1rem;
			}
		}
	}
	// .plans__item-bottom
	&__item-bottom {
		margin-top: 1.2rem;
		display: flex;
		justify-content: space-between;
	}
	// .plans__item-actions
	&__item-actions {
		display: flex;
		gap: 0.75rem;
	}
	// .plans__item-action
	&__item-action {
		border-radius: 6.25rem;
		background: #f0f2f5;
		padding: 0.44rem 0.75rem;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
		font-size: 0.875rem;
		min-width: 4rem;
		color: #6d6d6d;
		font-weight: 600;
		font-size: 0.875rem;
		&::before {
			font-size: 1.375rem;
		}
		transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background: #2f80ed;
				color: #fff;
			}
		}
	}
	// .plans__item-views
	&__item-views {
		display: flex;
		align-items: center;
		color: #a3a3a3;
	}
	// .plans__checklist
	&__checklist {
		display: flex;
		gap: 0.75rem;
		& img {
			width: 2.5rem;
			height: 2.5rem;
		}
	}
	// .plans__item-favorite
	&__item-favorite {
		font-size: 1.5rem;
		align-self: flex-start;
	}
	// .plans__item-title
	&__item-title {
		font-weight: 600;
		& a {
			transition: color 0.3s ease;
			@media (any-hover: hover) {
				&:hover {
					color: $accent;
				}
			}
		}
	}
	// .plans__item-header
	&__item-header {
		display: contents;
		@media (min-width: $md5) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: 0.5rem;
		}
		.plans__item-text {
			margin-top: 0;
		}
		&:not(:first-child) {
			gap: 2rem;
			margin-top: 0.5rem;
		}
	}
	// .plans__item-option
	&__item-option {
		margin-top: 0.63rem;
		font-size: 1rem;
		font-weight: 600;
	}
	// .plans__item-delete
	&__item-delete {
		margin-top: 0.75rem;
		@media (min-width: $md5) {
			margin-top: 0;
		}
		color: #d01717;
		font-size: 0.875rem;
		line-height: 100%;
		order: 1;
	}
	// .plans__item-list
	&__item-list {
		margin: rem(8) em(0) em(0) em(0);
		& li {
			font-size: 0.875rem;
			display: flex;
			align-items: center;
			column-gap: rem(5);
			&::before {
				content: "\e90b";
				font-family: "icons";
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				speak: never;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				color: #019a3e;
				font-size: 1.5rem;
			}
			&:not(:last-child) {
				margin-bottom: 0.1rem;
			}
		}
	}
	// .plans__item-text
	&__item-text {
		margin: rem(16) em(0) em(0) em(0);
		font-size: 1rem;
		font-weight: 500;
	}
	// .plans__item-user
	&__item-user {
		margin-top: 1rem;
		color: #323f4b;
		font-size: 1rem;
		padding: 0.94rem 2.78rem;
		font-weight: 600;
		border-radius: 0.5rem;
		display: inline-block;
		align-self: flex-start;
		transition: background-color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background: #2f80ed;
				color: #fff;
			}
		}
	}
	// .plans__item-notify
	&__item-notify {
		margin-top: 1rem;
		padding-top: 1rem;
		border-top: rem(1) solid #f1f2f6;
		order: 2;
	}
	// .plans__item-notify-title
	&__item-notify-title {
		font-size: 0.875rem;
		@media (min-width: $md4) {
			font-size: 1.125rem;
		}
	}
	// .plans__item-notify-link
	&__item-notify-link {
		margin-top: 0.5rem;
		color: #2f80ed;
		font-weight: 600;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: darken($color: #2f80ed, $amount: 10);
			}
		}
		font-size: 1.125rem;
		@media (min-width: $md4) {
			font-size: 1rem;
		}
	}
	// .plans__item-footer
	&__item-footer {
		display: flex;
		align-items: center;
		column-gap: 5px;
		justify-content: flex-end;
	}
	// .plans__item-btns
	&__item-btns {
		margin: rem(10) em(0) em(0) em(0);
		display: flex;
		column-gap: rem(5);
	}
	// .plans__item-btn
	&__item-btn {
		font-size: 12px;
	}
	// .plans__item-order
	&__item-order {
		margin-top: rem(10);
		width: 100%;
		&.l-btn {
			color: #323f4b;
			border-width: 1px;
			&.l-btn-md {
				padding-block: rem(8);
			}
			@media (any-hover: hover) {
				&:hover {
					color: #fff;
				}
			}
		}
	}

	// .plans__item-body
	&__item-body {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
	}
	&__item-desc {
		margin-top: rem(8);
		margin-bottom: 1rem;
		font-weight: 500;
		font-size: rem(14);
		line-height: 100%;
		color: #6d6f71;
	}
	// .plans__item-complete
	&__item-complete {
		margin-top: auto;
		font-weight: 500;
		font-size: 16px;
		line-height: 100%;
		color: #6d6f71;
		& span {
			font-weight: 600;
			color: #323f4b;
		}
	}
	// .plans__item-link
	&__item-link {
		background-color: #f6f6f6;
		width: 1.5rem;
		height: 1.5rem;
		border-radius: rem(5);
		display: flex;
		justify-content: center;
		align-items: center;
		background-size: rem(8);
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.0747132 0.909366C0.113849 0.973406 0.199235 1.05523 0.263275 1.09793C0.380682 1.16908 0.426933 1.16908 3.18776 1.16908L5.99484 1.16908L3.21267 3.95126C0.188562 6.98248 0.316641 6.83661 0.377123 7.1746C0.409143 7.35249 0.647514 7.59086 0.825403 7.62288C1.16339 7.68336 1.01752 7.81144 4.04518 4.78733L6.83092 2.00516L6.83092 4.81224C6.83092 7.58018 6.83092 7.61932 6.90563 7.73673C7.01236 7.91461 7.17958 8 7.40728 8C7.63853 8 7.80219 7.9075 7.91248 7.71538C7.98719 7.59086 7.98719 7.54816 7.99787 4.09357C8.00498 1.61736 7.99431 0.553589 7.96585 0.446856C7.91604 0.261852 7.73815 0.0839639 7.55314 0.0341549C7.44641 0.00569296 6.38264 -0.00498009 3.90643 0.0021348C0.451837 0.0128083 0.409143 0.0128083 0.284622 0.0875216C0.0889444 0.20137 0 0.36147 0 0.596282C0 0.735035 0.0213466 0.831095 0.0747132 0.909366Z' fill='%23323F4B'/%3E%3C/svg%3E%0A");
		@media (min-width: $md5) {
			display: none;
		}
	}
}
